.App {
  background-image: url(./assets/blackrock.jpg);
  height: 100vh;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;

  header {
    margin: 0 auto;
    font-size: 8vw;
    font-family: Monument;
  }

  p {
    margin: 0 auto;
    margin-top: 100px;
    font-family: Monument-Bold;
    font-size: 20px;
    letter-spacing: 4px;
  }
}

@font-face {
  font-family: Monument;
  src: url("./fonts/MonumentExtended-Regular.otf") format("opentype");
}

@font-face {
  font-family: Monument-Bold;
  src: url("./fonts/MonumentExtended-Ultrabold.otf") format("opentype");
}
